p {
	margin-bottom: 0 !important;
}

.pixul-container {
	display: flex;
	flex-direction: column;
	width: 65rem;
	max-width: 94vw;
	margin: 0 auto;
	margin-top: 14em;
	margin-bottom: 8em;
}

.pixul {
	width: 70vw;
}

.staking-content {
	width: fit-content;
	border-radius: 10px;
	background-color: rgb(30, 30, 40);
	padding: 1.8em;
}

.pixul-header {
	display: flex;
}

.pixul-header svg {
	height: 200px;
	width: 280px;
	margin-top: -110px;
}

.app-text {
	width: 600px;
}

.app-text h1 {
	font-weight: 700;
	margin-bottom: 20px;
	font-size: 1.9em;
}

.app-text p {
	font-weight: 600;
	font-size: 0.96em;
	opacity: 0.82;
}

.banner {
	border-radius: 5px;
	margin-top: 30px;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: -moz-available;
	max-width: -webkit-fill-available;
	font-weight: 800;
	width: 640px;
	background-color: #5400be;
}

.banner .banner-name {
	font-size: 1.4em;
}

.banner-stat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.banner-stat span {
	font-size: 2em;
}

.banner-stat-small {
	font-size: 0.85em !important;
	font-weight: 500;
}

.pixul-card-container {
	margin-top: 20px;
	gap: 1.4em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.pixul-card {
	margin-top: 60px;
	position: relative;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 110px;
	width: 155px;
	background-color: #262734;
}

.pixul-card img,
.pixul-card svg {
	top: -52%;
	position: absolute;
	height: 100px;
	width: 100px;
}

.pixul-card-text {
	margin-top: 20px;
	display: flex;
	gap: 0.32rem;
	flex-direction: column;
	align-items: center;
}

.pixul-card-text span:first-of-type {
	font-size: 0.84rem;
	font-weight: 700;
}

.pixul-card-text span:nth-child(2) {
	font-size: 0.75rem;
	font-weight: 500;
}

.pixul-conv-title,
.pixul-stake-title {
	font-size: 1.8em;
	font-weight: 700;
	margin-top: 70px;
	margin-bottom: 15px;
}

.pixul-stake-container {
	display: flex;
	flex-wrap: wrap;
}

.pixul-stake {
	border-radius: 5px;
	background-color: #1e1e28;
	padding: 2.2em;
	gap: 2.5em;
	width: 640px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.pixul-stake-header {
	background-color: #262734;
	border-radius: 5px;

	font-weight: 700;
	padding: 0.8em 0.4em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.stake-pixul-container h2 {
	font-weight: 700;
	font-size: 16px;
}

.stake-pixul-balance {
	font-size: 14px;
	font-weight: 800;
	color: #7e7f84;
	background-color: #262635;
	padding: 1.2em 0;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	padding-left: 20px;
	padding-right: 18px;
	justify-content: space-between;
	align-items: center;
}

.pixual-amount {
	width: 1.6ch;
	max-width: 10em;
	border: 0;
	color: inherit;
	font-weight: 800;
	background: inherit;
}
.pixual-amount:focus-visible {
	outline: none;
}

.pixul-balance button {
	height: 25px;
	width: 55px;
	margin-left: 10px;
	font-weight: 700;
	border: none;
	background-color: #7901fe;
	color: white;
	border-radius: 5px;
}

.stake {
	border-radius: 5px;
	display: flex;
	padding: 1.4em 5em;
	justify-content: center;
	align-items: center;
}

.stake.active {
	background-color: #1e1e28;
}

.time-frame-container {
	font-size: 14px;
	font-weight: 700;
	gap: 1.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.time-frame {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.2em;
}

input[type="radio"]:checked {
	accent-color: #7901fe;
}

input[type="radio"] {
	-webkit-appearance: none;
	width: 13px;
	height: 13px;
	border: 2px solid darkgray;
	border-radius: 50%;
	outline: none;
}

input[type="radio"]:before {
	content: "";
	display: block;
	width: 65%;
	height: 65%;
	margin: 20% auto;
	border-radius: 50%;
}

input[type="radio"]:checked:before {
	background: #7901fe;
}

.pixul-stake .connect-wallet {
	margin-top: unset !important;
}

.pixul-stat {
	border-radius: 5px;
	width: 22em;
	padding-top: 30px;
	padding-bottom: 20px;
	margin-top: 2em;
	margin-left: 1.56em;
	background-color: #1e1e28;
}

.pixul-stat h1 {
	font-weight: 700;
	font-size: 18px;
	text-align: center;
}

.values {
	margin-top: 40px;
	margin-left: 20px;
}

.value h2 {
	font-weight: 700;
	font-size: 12px;
}

.pixul-conv-container {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	margin-top: 2.28em;
}

.pixul-conv-container .pixul-migrate {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 2.2em;
	gap: 0.25em;
	border-radius: 0px 5px 5px 5px;
	width: 640px;
	background-color: #1e1e28;
}
.pixul-migrate .switcher {
	cursor: pointer;
	position: absolute;
	display: flex;
	flex-direction: row;
	font-weight: 700;
	top: -2.36em;
	left: 0;
}

.pixul-migrate .to-xpixul,
.pixul-migrate .to-pixul {
	padding: 0.65em 1.8em;
	font-size: 0.85em;
	border-radius: 10px 10px 0px 0px;
}

.pixul-stake .connect-wallet,
.pixul-migrate .connect-wallet {
	width: 100%;
	background-color: #7901fe;
	margin-top: 2em;
	border: 0;
	border-radius: 4px;
	color: white;
	align-self: center;
	font-size: 0.9em;
	font-weight: 800;
	padding: 1.5em 2em;
}

.pixul-migrate .info {
	display: none;
	position: absolute;
	height: 1.4em;
	width: 1.4em;
	right: 3px;
	top: 2.5px;
	fill: #7e7f84;
}

.pixul-conv-container .instructions {
	display: block;
	background-color: #1e1e28;
	align-self: flex-start;
	width: 22em;
	padding: 1.5em 1.25em;
	padding-bottom: 2.6em;
	font-size: 0.8em;
	font-weight: 700;
	margin-left: 1.25em;
	border-radius: 5px;
}

.pixul-conv-container .instructions h4 {
	text-align: center;
	margin-bottom: 1em;
}
.pixul-conv-container .instructions p {
	margin: 1.25em 0;
}

.claim-tokens {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: inherit;
}

.claim-tokens div {
	display: flex;
	flex-direction: column;
	gap: 0.4em;
	font-weight: 700;
}

.claim-tokens div span {
	font-size: 0.95em;
	color: #7e7f84;
}

.claim-tokens button {
	background-color: #262635;
	color: #7e7f84;
	border: 0;
	border-radius: 4px;
	font-size: 0.9em;
	font-weight: 800;
	padding: 1em 2.8em;
}

.claim-tokens button.active {
	background-color: #7901fe;
	color: white;
}

@media screen and (max-width: 1030px) {
	.pixul-conv-container .pixul-migrate {
		padding: 1.4em;
	}

	.pixul-migrate .info {
		display: block;
	}

	.pixul-conv-container .instructions {
		position: absolute;
	}
}

@media screen and (max-width: 1024px) {
	.staking-content {
		width: unset;
	}
}

@media (max-width: 990px) {
	.staking-content {
		width: unset;
	}
}

@media screen and (max-width: 425px) {
	.pixul-container {
		font-size: 0.85rem;
	}
}

@media screen and (max-width: 320px) {
	.pixul-container {
		font-size: 0.75rem;
	}
}
