.main-wrapper {
	/* webpackIgnore: true */
	background: url("https://i.ibb.co/mhS3p0s/pixulbavkground2.jpg") no-repeat
		bottom right transparent;
	background-size: cover;
	display: grid;
	grid-template-rows: 1;
	width: 100%;
}

@media (max-width: 1600px) {
	.main-wrapper {
		grid-template-columns: 15% 85%;
	}
}

/* @media (max-width: 1200px) {
	.content-wrapper {
		padding: 15% 20px 0;
	}
}

@media (max-width: 668px) {
	.content-wrapper {
		padding: 20% 20px 0;
	}
} */

@media (max-width: 990px) {
	.main-wrapper {
		display: block;
		grid-template-columns: inherit;
	}
}
