.navigation-wrapper {
	position: fixed;
	background-color: transparent;
	height: 4.5em !important;
	width: 100vw;
	background-color: #15151d;
	border-bottom: #58485f 1.4px solid;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}

.navigation-wrapper #mainNav {
	display: flex;
	align-items: center;
}

.navigation-wrapper .logo-wrapper {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: 1em;
	margin-left: 1.2em;
}

.navigation-wrapper .logo-wrapper svg {
	cursor: pointer;
	height: 1.8em;
	width: 1.8em;
}

.navigation-wrapper .logo-wrapper .img-logo {
	width: 5.2em;
}

.navigation-wrapper #mainNav .nav-item {
	font-size: 1.05em;
	font-weight: 700;
	color: #dddbdb;
	text-decoration: none;
}

.navbar-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbar-nav li {
	margin-right: 35px;
}

.navigation-wrapper #mainNav .nav-item:hover,
.navigation-wrapper #mainNav .nav-item.active {
	color: #7800ff;
}

#mainNav .connect-wallet {
	padding: 0.6em;
	width: 8.6em;
	margin-left: 1.2em;
	background: linear-gradient(0.35turn, rgb(154, 17, 241), rgb(89, 1, 255));
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 5px;
	margin-right: 1.2em;
	font-weight: 600;
}

#mainNav .connect-wallet:hover {
	box-shadow: 0px 0px 10px rgb(100 0 255 / 90%);
}

#mainNav .connect-wallet img {
	height: 1.4rem;
	width: 1.4rem;
	margin-right: 0.6em;
}

#mainNav .connect-wallet span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.96em;
}

#mobileNav {
	display: none;
	height: 5em;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	background-color: #15151d;
	bottom: 0;
	z-index: 1000;
	width: 100vw;
}

#mobileNav a .mobile-nav-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.4em;
}

#mobileNav a .mobile-nav-item span {
	color: white;
	font-weight: 700;
	font-size: 0.9em;
	opacity: 0.4;
}

#mobileNav a .mobile-nav-item svg {
	position: unset !important;
	opacity: 0.4;
	height: 1.9em !important;
	width: 1.9em !important;
}

#mobileNav a .mobile-nav-item:hover span,
#mobileNav a .mobile-nav-item:hover svg,
#mobileNav a.active .mobile-nav-item span,
#mobileNav a.active .mobile-nav-item svg {
	opacity: 1;
}

@media (max-width: 930px) {
	.navigation-wrapper .logo-wrapper {
		gap: 0.8em;
	}

	.navigation-wrapper #mainNav .nav-item {
		display: none;
	}

	.navigation-wrapper #mainNav .navbar-nav {
		display: unset;
	}

	#mobileNav {
		display: flex;
	}

	.footer {
		display: none !important;
	}
}

@media (max-width: 425px) {
	.navigation-wrapper {
		font-size: 0.85em;
	}

	#mobileNav {
		font-size: 0.85em;
	}
}

@media (max-width: 320px) {
	.navigation-wrapper {
		font-size: 0.75em;
	}

	#mobileNav {
		font-size: 0.75em;
	}
}
