.main-wrapper {
	/* webpackIgnore: true */
	background: url("https://static.wixstatic.com/media/31aeaa_2e0358ae6dc94a24864f0951d1b32418~mv2.jpg/v1/fill/w_1079,h_914,al_c,q_85/31aeaa_2e0358ae6dc94a24864f0951d1b32418~mv2.webp")
		no-repeat bottom right transparent;
	background-size: cover;
	display: grid;
	grid-template-rows: 1;
	width: 100%;
}

@media (max-width: 1600px) {
	.main-wrapper {
		grid-template-columns: 15% 85%;
	}
}

/* @media (max-width: 1200px) {
	.content-wrapper {
		padding: 15% 20px 0;
	}
}

@media (max-width: 668px) {
	.content-wrapper {
		padding: 20% 20px 0;
	}
} */

@media (max-width: 990px) {
	.main-wrapper {
		display: block;
		grid-template-columns: inherit;
	}
}
