#bmenu-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	background: transparent;
	backdrop-filter: blur(4px);
	z-index: 9999;
}
.bmenu-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
	padding-bottom: 2em;
	height: auto;
	border-radius: 10px;
	border: 6px solid #1e1e27;
	margin: 5.5em auto;
	width: 24rem;
	max-width: 95vw;
	background-color: #15151d;
}

.bmenu-wrapper header {
	display: flex;
	width: 100%;
	align-items: center;
	position: relative;
	padding: 1rem 0;
	margin-bottom: 1.2rem;
	border-bottom: 6px solid #1e1e27;
}
.bmenu-wrapper header span {
	font-weight: 700;
	font-size: 1.4em;
	margin: 0 auto;
}

.bmenu-wrapper header svg {
	position: absolute;
	right: 12px;
}

.bmenu-wrapper a {
	color: white;
	text-decoration: none;
	margin-right: 2em;
	border-radius: 6px;
}
.bmenu-wrapper a.active {
	background-color: #262632;
	border-radius: 6px;
}

.bmenu-wrapper .bmenu-item {
	width: 90%;
	color: #bab9b9;
	text-align: center;
	padding: 0.8rem 1.2rem;
	border-radius: 5px;
	font-weight: 700;
	font-size: 0.85em;
	border: 3px solid #1e1e27;
	box-shadow: 0px 2.8px 4.6px #0d0c11;
}

.bmenu-wrapper .bmenu-item:hover {
	background-color: #1e1e27;
}

.highlight {
	background-color: #262632;
}
