.home-container {
	padding-top: 8%;
	width: 100%;
	height: 100%;
}

.content-wrapper {
	min-height: 100%;
	overflow-x: hidden;
	padding-bottom: 8em;
	width: 100vw;
	background: transparent;
	position: relative;
}

.container {
	max-width: 100%;
	padding: 0px;
	margin: 0px;
}

.home-container h1 {
	font-size: 2.5em;
}

.home-container .hero-buttons {
	margin: 25px 0;
}

.home-container .title-white {
	color: rgba(255, 255, 255, 1) !important;
}

.main {
	padding: 35px;
	margin-top: 8vh;
}

.firstSection {
	width: 32em;
	max-width: 96vw;
}

.firstSection img {
	height: 7.5em;
	margin-bottom: 0.6em;
}

.firstSection h1 {
	font-size: 3.65em;
	margin-bottom: 0.6rem;
}

.paragraph1 {
	text-align: center;
	font-size: 1em;
	font-weight: 600;
	width: 90%;
	line-height: 1.6;
}

.home-container .learn {
	font-size: 8px !important;
	height: 40px;
	width: 130px;
	white-space: nowrap;
	border: 1px solid white;
}

.hero-buttons {
	justify-content: start;
}

.btn-features {
	font-size: medium;
}

.stat-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-top: 40px;
	width: 60em;
	max-width: 100vw;
}

.stats {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stats span:first-child {
	font-size: 1.75em;
	font-weight: 700;
}

.stats .statname {
	font-size: 0.95em;
	font-weight: 600;
}

.explore,
.social {
	margin-top: 6.2em;
	width: 60em;
	max-width: 92vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.explore span,
.social span {
	font-size: 2em;
	font-weight: 700;
	text-align: center;
}

.exploreCards {
	justify-content: space-evenly;
}

.exploreCard,
.socialCard {
	position: relative;
	margin-top: 90px;
	display: flex;
	align-items: center;
}

.exploreCard {
	flex-direction: row;
}

.socialCard {
	justify-content: center;

	flex-direction: column;
}

.cardIcon,
.socialIcon {
	position: absolute;
	enable-background: new 0 0 200 200;
}

.cardIcon {
	width: 185px;
	left: -102px;
}

.circleIcon {
	height: 150px;
	width: 150px;
	left: -100px;
}

.socialIcon {
	top: -75px;
	height: 125px;
	width: 125px;
}

.exploreCard .content,
.socialCard .content {
	background-color: #232127f6;
	border-radius: 12px;
}

.exploreCard .content {
	width: 43.2rem;
	max-width: 86vw;
	height: 10em;
	display: flex;
	align-items: center;
	padding-right: 4em;
}

.socialCard .content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 200px;
	height: 150px;
}

.exploreCard .contentBody {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 6em;
}

.exploreCard .contentBody h2,
.socialCard .content h2 {
	font-weight: 700;
}

.exploreCard .contentBody p {
	font-size: 0.96em;
	opacity: 0.5;
	font-weight: 600;
	line-height: 20px;
}

.exploreCard .content a,
.socialCard .content a {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	border-radius: 5px;
	white-space: nowrap;
	height: 40px;
	width: 120px;
	color: #fff;
	border: none;
}

.exploreCard .content a {
	position: absolute;
	top: 86%;
	right: 12%;
	width: 11em;
	font-size: 1em;
}

.exploreCard .content a {
	background: linear-gradient(0.35turn, rgb(154, 17, 241), rgb(89, 1, 255));
}

.socialCard .content a {
	background: linear-gradient(0.35turn, rgb(218, 0, 134), rgb(83, 3, 134));
}

.socialCards {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.token-stats {
	margin-top: 6%;
	background-color: rgba(0, 0, 0, 0.32);
	width: 100%;
}

.token-stats h1 {
	font-size: 56px;
	color: var(--white);
	text-align: center;
	margin-bottom: 50px;
}

.pixul-app {
	padding: 2% 0 2% 0;
	width: 100%;
	background-color: #141a24;
}

.pixul-app h1 {
	color: var(--white);
}

.pixul-app a {
	margin-right: 16px;
}

.social-icons {
	padding: 4% 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.telegram {
	top: -55px;
	height: 90px;
	width: 90px;
}

.st0 {
	fill: white;
}

.st1 {
	fill: url(#SVGID_1_);
}

.line0 {
	stop-color: #00aeef;
}

.line1 {
	stop-color: #623691;
}

.line2 {
	stop-color: #ef569f;
}

@media screen and (max-width: 330px) {
	.cardIcon {
		height: 80px !important;
		width: 80px !important;
		left: -18px !important;
	}

	.circleIcon {
		height: 50px !important;
		width: 50px !important;
		left: -8px !important;
	}

	.exploreCard .content {
		height: 125px !important;
	}

	.exploreCard .contentBody h2 {
		font-size: 18px;
	}

	.exploreCard .contentBody p {
		font-size: 10px !important;
		line-height: 12px;
	}

	.exploreCard .content a {
		width: 25vw;
		font-size: 10px;
		right: 10%;
	}
}

@media screen and (max-width: 425px) {
	.firstSection {
		font-size: 0.82rem;
	}

	.main {
		margin-top: 15vh;
	}
}

@media screen and (max-width: 376px) {
	.explore span,
	.social span {
		font-size: 1.36em;
	}
}

@media screen and (max-width: 560px) and (min-width: 329px) {
	.cardIcon {
		height: 100px;
		width: 100px;
		left: -35px;
	}

	.circleIcon {
		height: 70px;
		width: 70px;
	}

	.exploreCard .content {
		height: 150px;
		width: 85vw !important;
	}

	.exploreCard .contentBody h2 {
		font-size: 20px;
	}

	.exploreCard .contentBody p {
		font-size: 12px !important;
		line-height: 14px;
	}

	.exploreCard .content a {
		width: 25vw;
		right: 10%;
	}
}

@media screen and (max-width: 680px) {
	.stat-container {
		grid-template-columns: 1fr 1fr;
		font-size: 0.9rem;
		margin-top: unset;
		max-width: 82vw;
	}

	.stat-container .stats {
		margin-top: 3rem;
	}
}

@media screen and (max-width: 804px) and (min-width: 559px) {
	.cardIcon {
		height: 150px;
		width: 150px;
		left: -80px;
	}

	.circleIcon {
		height: 100px;
		width: 100px;
		left: -60px;
	}

	.exploreCard .content {
		height: 150px;
	}
}

@media screen and (max-width: 960px) {
	.exploreCard .content {
		width: 70vw;
	}
}

@media (max-width: 990px) {
	.explore h1,
	.social h1 {
		font-size: calc(100vw / 30);
	}
	.token-stats {
		display: none;
	}

	.second-paragraph {
		margin-top: 20px;
	}

	.hero-buttons {
		justify-content: center;
	}
	.btn-about {
		margin-left: 10px !important;
	}

	.btn-lg {
		font-size: medium;
	}

	.content-wrapper {
		width: 100vw;
	}
	.home-container .btn-golden {
		width: 100%;
	}

	.pixul-app {
		padding: 8% 0 8% 0;
	}

	.pixul-app img {
		margin-left: auto !important;
		margin-right: auto !important;
		margin-bottom: 16px;
	}
}
