.farm-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 65rem;
	max-width: 95vw;
	margin: 0 auto;
	margin-top: 30vh;
	margin-bottom: 8em;
}

.farm-content {
	width: fit-content;
	border-radius: 10px;
	background-color: rgb(30, 30, 40, 0.6);
	padding: 2.4em;
}

.farm-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1.8em;
}

.farm-header h1 {
	font-weight: bold;
}

.farm-header .input-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.28em;
	border: 2px solid #686868;
	border-radius: 4px;
	padding: 0.2%;
	background-color: transparent;
}

.farm-header .input-wrapper input {
	border: 0;
	width: 18em;
	background-color: transparent;
	color: #686868;
	outline: none;
	caret-color: #686868;
}

.farm-header .input-wrapper input::placeholder {
	color: #686868;
	font-weight: 700;
}

.farm-header .input-wrapper input:focus {
	border: 0;
}

.farm-header .input-wrapper svg {
	margin-left: 0.4em;
	fill: #686868;
}

.farm-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.5em;
	margin-top: 2em;
}

.farm-buttons .primary-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1.2em;
}

.farm-buttons .primary-buttons button {
	background-color: transparent;
	border: 2px solid #5400bd;
	color: #5400bd;
	font-size: 0.98em;
	font-weight: 700;
	padding: 0.45em 1.8em;
	border-radius: 6px;
}

.farm-buttons .primary-buttons button:hover {
	background-color: #5400bd;
	color: white;
}

.farm-buttons .primary-buttons button.toggled {
	background-color: #5400bd;
	color: white;
}

.farm-buttons .toggler {
	display: flex;
	cursor: pointer;
	flex-direction: row;
	gap: 0.35em;
	border: 2px solid #6868688c;
	border-radius: 10px;
	align-self: flex-end;
}

.farm-buttons .toggler div {
	font-size: 0.78em;
	font-weight: 800;
	border-radius: 6px;
	padding: 0.28em 0.8em;
	color: white;
	transition: all 0.28s ease;
}

.farm-buttons .toggler div.toggled-left {
	background-color: #686868;
	margin-top: -1px;
	margin-bottom: -1px;
	margin-left: -1px;
}

.farm-buttons .toggler div.toggled-right {
	background-color: #686868;
	margin-top: -1px;
	margin-bottom: -1px;
	margin-right: -1px;
}

.farm-farms {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 4em;
}

.farm-farms .status {
	display: flex;
	position: relative;
	flex-direction: row;
	align-items: center;
	width: 48em;
	max-width: 88vw;
	background-color: #5400bd;
	border: 6px solid #7200ff;
	border-radius: 10px;
	padding: 0.8em;
}

.farm-farms .status .promoted {
	position: absolute;
	left: 32px;
	top: -24px;
	background-color: #ffbb00;
	font-weight: 700;
	color: black;
	border-radius: 8px;
	padding: 0.3em 1em;
}

.farm-farms .status .name {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 0.5em;
	gap: 0.5em;
	font-size: 1.5em;
	font-weight: 700;
}

.farm-farms .status .name img {
	height: 2.1em;
	width: 2.1em;
}

.farm-farms .status .price {
	margin-left: 4em;
	font-size: 1.1em;
}

.farm-farms .status .price span {
	font-weight: 700;
}

.farm-farms .status .apr {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: 1em;
}

.farm-farms .status .apr span:first-child {
	font-size: 2.4em;
	font-weight: 700;
}

.farm-farms .harvest {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.1em;
	background-color: #7200ff;
	padding: 0.4em 1.5em;
	border-radius: 0 8px 8px 0;
	font-weight: 700;
	text-align: center;
	align-self: center;
}

.farm-cards {
	display: flex;
	gap: 2.5em;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 2em;
}

@media screen and (max-width: 990px) {
	.farm-content {
		width: unset;
	}
}

@media screen and (max-width: 768px) {
	.farm-wrapper {
		margin-top: 15vh;
		margin-bottom: 0em;
	}

	.farm-content {
		width: unset;
		padding: 1.2em 1em;
	}

	.farm-header .input-wrapper input {
		max-width: fit-content;
	}

	.farm-farms .status {
		flex-direction: column;
		gap: 0.8em;
	}

	.farm-farms .promoted {
		left: unset;
	}

	.farm-farms .status .name {
		gap: 0.2em;
	}

	.farm-farms .status .name,
	.farm-farms .status .price,
	.farm-farms .status .apr {
		margin-left: unset;
	}

	.farm-farms .harvest {
		text-align: center;
		padding: 0.4em 1.4em;
		margin-left: -1px;
	}

	.farm-farms .status .apr span:first-child {
		font-size: 2.2em;
	}

	.farm-cards {
		justify-content: center;
	}
}

@media screen and (max-width: 425px) {
	.farm-wrapper {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 320px) {
	.farm-wrapper {
		font-size: 0.65em;
	}
}
