@import "~bootstrap";
@import "./theme/bootstrap.css";
@import "./theme/scroll.css";
@import "./theme/custom.css";

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;900&display=swap");

body {
	/* background-color: #0a0a14 !important; */
	background-color: #0c0b18 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
